In [11]:
a=['가','나','나','다','라']

In [7]:
a

['나', '다', '라']

In [4]:
b

'가'

In [12]:
a.remove('나')

In [13]:
a

['가', '나', '다', '라']

In [16]:
a.remove(('가','나'))

ValueError: list.remove(x): x not in list

In [1]:
import numpy as np

In [2]:
a = np.array([1,2,3])
b = np.array([3,2,6])

In [3]:
a.mean()

2.0

In [7]:
a

array([1, 2, 3])

In [9]:
np.std(a)

0.816496580927726

In [10]:
np.cov(a,b)

array([[1.        , 1.5       ],
       [1.5       , 4.33333333]])

In [17]:
np.dot(a.T,b)

25

In [9]:
np.correlate(a,b)

array([25])

In [12]:
a

array([1, 2, 3])

In [13]:
import pandas as pd

In [20]:
X=pd.DataFrame([[1,3],[2,6],[3,2]])

In [21]:
X

   0  1
0  1  3
1  2  6
2  3  2

In [22]:
a=X[0]

In [23]:
b=X[1]

In [24]:
a.corr(b)

-0.2401922307076307

In [25]:
a.cov(b)

-0.5

In [27]:
a.mean()

2.0

In [28]:
b.mean()

3.6666666666666665

In [31]:
(a*b).mean()

7.0

In [32]:
(a*b).mean() - a.mean()*b.mean()

-0.33333333333333304