In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from datetime import datetime

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2020, 11, 8, 14, 27, 35, 81758)

In [5]:
import time
start = time.time()

In [16]:
start

1604813297.2307549

In [10]:
start.strftime('%y-%m-%d')

AttributeError: 'float' object has no attribute 'strftime'

In [12]:
time.strftime(str(start),'%y-%m-%d')

TypeError: Tuple or struct_time argument required

In [18]:
from dateutil.parser import parse
parse('2020/11--8')

datetime.datetime(2020, 11, 8, 0, 0)

In [21]:
parse('Jan 31,1997 10:45PM')

datetime.datetime(2020, 1, 31, 22, 45)

In [26]:
datestrs = ['2011-07-06 12:00:00','2011-08-06 00:00:00']

pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [23]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]

ts = pd.Series(np.random.randn(6),index=dates)

In [25]:
ts.index[0]

Timestamp('2011-01-02 00:00:00')

In [27]:
ts = pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000',periods=4,freq='MS'))
ts.index[0]

Timestamp('2000-01-01 00:00:00', freq='MS')

In [30]:
ts.shift(3,freq='90T').index[0]

Timestamp('2000-01-01 04:30:00', freq='MS')

In [29]:
ts

2000-01-01    0.138436
2000-02-01   -1.058976
2000-03-01    0.084527
2000-04-01    1.094961
Freq: MS, dtype: float64

In [32]:
close_px_all = pd.read_csv('stock_px_2.csv',parse_dates=True,index_col=0)
close_px = close_px_all.drop('SPX',axis=1)
close_px = close_px.resample('B').ffill()
appl_std250 = close_px.AAPL.rolling(250,min_periods=10).std()
expanding_mean = appl_std250.expanding().mean()

In [33]:
appl_std250

2003-01-02          NaN
2003-01-03          NaN
2003-01-06          NaN
2003-01-07          NaN
2003-01-08          NaN
                ...
2011-10-10    25.430104
2011-10-11    25.523131
2011-10-12    25.624851
2011-10-13    25.758644
2011-10-14    25.993449
Freq: B, Name: AAPL, Length: 2292, dtype: float64

In [34]:
expanding_mean

2003-01-02          NaN
2003-01-03          NaN
2003-01-06          NaN
2003-01-07          NaN
2003-01-08          NaN
                ...
2011-10-10    18.521201
2011-10-11    18.524272
2011-10-12    18.527385
2011-10-13    18.530554
2011-10-14    18.533823
Freq: B, Name: AAPL, Length: 2292, dtype: float64

In [40]:
appl_std250.iloc[:-2].mean()

18.52738483914682

In [36]:
close_px.rolling('20D').mean()

                  AAPL       MSFT        XOM
2003-01-02    7.400000  21.110000  29.220000
2003-01-03    7.425000  21.125000  29.230000
2003-01-06    7.433333  21.256667  29.473333
2003-01-07    7.432500  21.425000  29.342500
2003-01-08    7.402000  21.402000  29.240000
...                ...        ...        ...
2011-10-10  389.351429  25.602143  72.527857
2011-10-11  388.505000  25.674286  72.835000
2011-10-12  388.531429  25.810000  73.400714
2011-10-13  388.826429  25.961429  73.905000
2011-10-14  391.038000  26.048667  74.185333

[2292 rows x 3 columns]

In [41]:
aapl_px = close_px.AAPL['2006':'2007']
aapl_px

2006-01-02     71.89
2006-01-03     74.75
2006-01-04     74.97
2006-01-05     74.38
2006-01-06     76.30
               ...
2007-12-25    198.80
2007-12-26    198.95
2007-12-27    198.57
2007-12-28    199.83
2007-12-31    198.08
Freq: B, Name: AAPL, Length: 521, dtype: float64

In [42]:
ewma30 = aapl_px.ewm(span=30).mean()

In [43]:
ewma30

2006-01-02     71.890000
2006-01-03     73.367667
2006-01-04     73.937767
2006-01-05     74.059619
2006-01-06     74.569360
                 ...
2007-12-25    184.441771
2007-12-26    185.377786
2007-12-27    186.228897
2007-12-28    187.106387
2007-12-31    187.814362
Freq: B, Name: AAPL, Length: 521, dtype: float64

In [46]:
aapl_px[:3].mean()

73.86999999999999

In [47]:
spx_px = close_px_all['SPX']
spx_rets = spx_px.pct_change()
returns = close_px.pct_change()

In [50]:
from IPython.display import display

In [51]:
display(close_px)
display(returns)

              AAPL   MSFT    XOM
2003-01-02    7.40  21.11  29.22
2003-01-03    7.45  21.14  29.24
2003-01-06    7.45  21.52  29.96
2003-01-07    7.43  21.93  28.95
2003-01-08    7.28  21.31  28.83
...            ...    ...    ...
2011-10-10  388.81  26.94  76.28
2011-10-11  400.29  27.00  76.27
2011-10-12  402.19  26.96  77.16
2011-10-13  408.43  27.18  76.37
2011-10-14  422.00  27.27  78.11

[2292 rows x 3 columns]

                AAPL      MSFT       XOM
2003-01-02       NaN       NaN       NaN
2003-01-03  0.006757  0.001421  0.000684
2003-01-06  0.000000  0.017975  0.024624
2003-01-07 -0.002685  0.019052 -0.033712
2003-01-08 -0.020188 -0.028272 -0.004145
...              ...       ...       ...
2011-10-10  0.051406  0.026286  0.036977
2011-10-11  0.029526  0.002227 -0.000131
2011-10-12  0.004747 -0.001481  0.011669
2011-10-13  0.015515  0.008160 -0.010238
2011-10-14  0.033225  0.003311  0.022784

[2292 rows x 3 columns]

In [55]:
1-422/408.43

-0.03322478760130254